{% extends "_layouts/cp" %}

{% if isUserHelpUs %}
    {% do view.registerAssetBundle("infoservio\\donatefast\\assetbundles\\logrocket\\LogRocketAssetBundle") %}
{% endif %}

{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle("infoservio\\donatefast\\assetbundles\\sidebar\\SidebarAssetBundle") %}
{% do view.registerAssetBundle("infoservio\\donatefast\\assetbundles\\prism\\PrismAssetBundle") %}
{% set title = "Donation Form"|t('app') %}
{% block sidebar %}
    <div class="sidebar-header">
        <h3>Sidebar Menu</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li class="sidebar-item"><a href="/admin/donate-fast/invoice">Invoice Manager</a></li>
        <li class="sidebar-item"><a href="/admin/donate-fast/settings">Settings Manager</a></li>
        <li class="active sidebar-item"><a href="/admin/donate-fast/donation-form">Using Donate Fast <i class="sidebar-icon material-icons">keyboard_arrow_right</i></a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1>Donate Form Example</h1>
    <p>Please hover over the box below and select the 'copy' icon to the right side of each box.  Paste this code in your page to display your donation form.  You can change the word <code class="language-html">value="Donate"</code> to replace the text on the Donate button.</p>
    <pre>
        <code class="language-html">
        {{ '
    <form id="donate-fast-form" action="/donate-fast/donate" method="post">
       <input id="amount" type="number" name="amount">
       <button id="donate-btn" class="btn">Donate</button>
    </form>
    <script id="donate-fast-script" src="*"
       data-stripe-public-key="your_stripe_public_key"
       data-stripe-form-name="Donation"
       data-stripe-form-description="One-time donation"
       data-form-id="donate-fast-form"
       data-btn-id="donate-btn"
       data-amount="100"
       data-amount-min="5"
       data-amount-default-validation="true"
       data-amount-input-id="amount"
       data-amount-fixed="false"
       data-additional-information="true"
       data-project-id="1"
       data-project-name="name"></script>'| escape('html') }}
        </code>
    </pre>
{% endblock %}