{% do view.registerAssetBundle("infoservio\\donatefast\\assetbundles\\bootstrap\\StripeDonationBootstrapAssetBundle") %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta name="viewport" content="width=device-width">
    {% block head %}{% endblock %}
</head>
<body>
<div class="overlay">
</div>
    <div class="error-panel">
        <div class="error-logo"></div>
        <div class="panel-body">
            <div style="text-align: center">
                {{ errorMessage | raw }}
            </div>
            {% if baseUrl %}
                <a href="{{ baseUrl }}">Return back to the page</a>
            {% endif %}
        </div>
    </div>
</body>
</html>